@charset(uft-8)

/*
 class속성값에 active가 지정되어 있으면 해당 엘리먼드를 화면에 표시한다.
*/
.active {
  display: none !important;
}
/*
 class속성값에 primary-text가 지정되어 있으면 해당 엘리먼트의 텍스트 색을 변경한다.
*/
.primary-text {
  color: dodgerblue;
}
/*
 class속성값에 important-text가 지정되어 있으면 해당 엪리먼트의 텍스트색을 변경한다.
*/
.important-text {
  color: red;
  font-size: 20px;
}
.small-text {
  font-size: 13px;
}